<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Alerts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>Notification No.1</ion-item>
    <ion-item>Notification No.2</ion-item>
    <ion-item>Notification No.3</ion-item>
    <ion-item>Notification No.4</ion-item>
    <ion-item>Notification No.5</ion-item>
    <ion-item>Notification No.6</ion-item>
    <ion-item>Notification No.7</ion-item>
    <ion-item>Notification No.8</ion-item>
  </ion-list>
</ion-content>
